parameters:

    level: 7
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true

    paths:
        - /source/src
    autoload_files:
        - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php
    autoload_directories:
        - /source/src
        - phar:///source/vendor/libFormAPI.phar/src
        - phar:///source/vendor/UpdateNotifier.phar/src
        - phar:///source/vendor/ConfigUpdater.phar/src
    excludes_analyse:
        - source/vendor
