parameters:

    level: 7
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true

    paths:
        - /source/src
    autoload_files:
        - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php
    autoload_directories:
        - /source/src
        - phar:///source/libFormAPI/src
    excludes_analyse:
        - vendor
