parameters:

    level: 7
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true

    paths:
        - src
    autoload_files:
        - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php
    autoload_directories:
        - src
        - src/Heisenburger69/BurgerSpawners/libs
    excludes_analyse:
        - src/Heisenburger69/BurgerSpawners/libs
